.header {
    display: flex;
    align-items: center;
    z-index: 800;
    img {  
        color: #fff;
        padding: .2rem;
        

    }
    .navButton{
        line-height: 85%;
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid var(--primary-color);
        background-color: rgba(0,0,0,.25);
        border-radius: 4px;
    }  
    .logo{
        font-size: 1.2rem;
        line-height: 100%;
        font-weight: 500;
        padding: 0;        
        color: var(--primary-text-color);
        vertical-align: top;
    }  
    .navButton:hover {
        background-color: rgba(0,0,0,.5);
    }  
}

